In [17]:
# 1번 Lee
change = 1260
count = 0
coins = [500, 100, 50, 10]

for coin in coins:
  count += change // coin
  change %= coin

print(count)

6

In [57]:
# 2번 Lee

n, m, k = map(int, input().split())
num_list = list(map(int, input().split()))
num_list.sort(reverse = True)
result = 0 

target = m // k * k

result += num_list[0] * target + num_list[1] * (m - target)

print(result)

5 8 3
2 4 5 4 6
46

In [58]:
# 2번 Na

n, m, k = map(int, input().split())
num_list = list(map(int, input().split()))
num_list.sort()
first = num_list[n - 1]
second = num_list[n - 2]

result = 0

while True:
  for i in range(k):
    if m == 0:
      break
    result += first
    m -= 1
  if m == 0:
    break
  result += second
  m -= 1

print(result)

5 8 3
2 4 5 4 6
46

In [90]:
# 3번 Lee
n, m = map(int, input().split())
matrix = [list(map(int, input().split())) for _ in range(n)]
num_list = []

for i in range(n):
  matrix[i].sort()
  num_list.append(matrix[i][0])

num_list.sort()
largest = num_list[n - 1]
print(largest)

2 4
7 3 1 8
3 3 3 4
3

In [92]:
# 3번 Na (1)
n, m = map(int, input().split())
result = 0

for i in range(n):
  data = list(map(int, input().split()))
  min_value = min(data)
  result = max(result, min_value)

print(result)

2 4
7 3 1 8
3 3 3 4
3

In [93]:
# 3번 Na (2)
n, m = map(int, input().split())

result = 0
for i in range(n):
  data = list(map(int, input().split()))
  min_value = 1001
  for a in data:
    min_value = min(min_value, a)
  result = max(result, min_value)

print(result)

2 4
7 3 1 8
3 3 3 4
3

In [46]:
# 4번 Lee
N = int(input())
K = int(input())

count = 0

while True:
  if N % K == 0:
    N = N // K
    count += 1
  elif N == 1:
    break
  else:
    N -= 1
    count += 1

print(count)

17
5
5

In [54]:
# 4번 Na
n, k = map(int,input().split())
result = 0

while True:
  target = n//k * k
  result += (n - target)
  n = target
  if n < k:
    break
  result += 1
  n //= k

result += n - 1
print(result)

17 5
5